<div class="container">
  <div class="row justify-content-center ml-3">
    <div class="col-md-4">
      <a href="#" class="usp text-center">
        <div>
          {% render 'icon-truck' %}
        </div>
        <div class="info">
          <div class="title m-1">FREE SHIPPING</div>
          <p>On all UA orders or orders above $100</p>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="#" class="usp text-center">
        <div>
          {% render 'icon-cart-load' %}
        </div>
        <div class="info">
          <div class="title m-1">30 DAYS RETURN</div>
          <p>Simply return it within 30 days for an exchange</p>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="#" class="usp text-center">
        <div>
          {% render 'icon-support' %}
        </div>
        <div class="info">
          <div class="title m-1">SUPPORT 24/7</div>
          <p>Contact us 24 hours a day, 7 days a week</p>
        </div>
      </a>
    </div>
  </div>
</div>
