<div class="usp-panel">
  <div class="container">
    <div class="g-2 g-lg-3 justify-content-between row">
      <div class="col-4">
        <a class="usp" a-id="cr-s2sv-ic1">
          <div class="usp-icon">
            <div style="position: relative; width: 100%; height: 0px; padding-top: 100%;">
              <img
                alt="SAME DAY DELIVERY"
                fetchpriority="high"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class=""
                src="https://res.cloudinary.com/dmcybjqyj/image/upload/v1649159942/truck_ylo2zh.svg"
                style="color: transparent; position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;"

              ><img
                alt="SAME DAY DELIVERY"
                loading="lazy"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class=""
                src="https://res.cloudinary.com/dmcybjqyj/image/upload/v1649159942/truck_ylo2zh.svg"
                style="color: transparent; position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;"
              >
            </div>
          </div>
          <div class="title">SAME DAY DELIVERY</div>
          <p></p>
        </a>
      </div>
      <div class="col-4">
        <a class="usp" a-id="cr-s2sv-ic2">
          <div class="usp-icon">
            <div style="position: relative; width: 100%; height: 0px; padding-top: 100%;">
              <img
                alt="FRESH FLOWERS GUARANTEED"
                fetchpriority="high"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class=""
                src="https://res.cloudinary.com/dmcybjqyj/image/upload/v1649159942/return_z6xuf5.svg"
                style="color: transparent; position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;"

              ><img
                alt="FRESH FLOWERS GUARANTEED"
                loading="lazy"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class=""
                src="https://res.cloudinary.com/dmcybjqyj/image/upload/v1649159942/return_z6xuf5.svg"
                style="color: transparent; position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;"
              >
            </div>
          </div>
          <div class="title">FRESH FLOWERS GUARANTEED</div>
          <p></p>
        </a>
      </div>
      <div class="col-4">
        <a class="usp" a-id="cr-s2sv-ic3">
          <div class="usp-icon">
            <div style="position: relative; width: 100%; height: 0px; padding-top: 100%;">
              <img
                alt="SUPPORT 24/7"
                fetchpriority="high"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class=""
                src="https://res.cloudinary.com/dmcybjqyj/image/upload/v1649159941/support_kxvvvi.svg"
                style="color: transparent; position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;"

              ><img
                alt="SUPPORT 24/7"
                loading="lazy"
                width="32"
                height="32"
                decoding="async"
                data-nimg="1"
                class=""
                src="https://res.cloudinary.com/dmcybjqyj/image/upload/v1649159941/support_kxvvvi.svg"
                style="color: transparent; position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;"
              >
            </div>
          </div>
          <div class="title">SUPPORT 24/7</div>
          <p></p>
        </a>
      </div>
    </div>
  </div>
</div>
